<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li><a href="{{ url_for('playlist') }}">PLAYLIST</a></li>
                <li><a href="{{ url_for('buscador') }}">BUSCADOR</a></li>
                <li><a href="{{ url_for('acerca') }}">ACERCA DE</a></li>
                <li><a href="{{ url_for('logout') }}">CERRAR SESIÓN</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form method="POST" action="/add_playlist_gust" id="add-playlist2" class="form-container">
            <h2 class="form-title">Añadir Playlist</h2>
            <p id="warnings" class="form-warning">{{ warnings }}</p>
            <label for="name" class="form-label">Nombre de la playlist: *</label><br>
            <input type="text" id="name" name="name" required class="form-input"><br><br>
            <label for="description" class="form-label">Descripción:</label><br>
            <textarea id="description" name="description" required class="form-textarea"></textarea><br><br>
            <label for="song_n" class="form-label">Número de canciones:</label><br>
            <input type="number" id="year" name="song_n" required class="form-input"><br><br>
            <label for="name1" class="form-label">Escribe géneros músicales, estados de ánimo, años o artistas: </label><br>
            <input type="text" id="name1" name="name1" required class="form-input"><br><br>
            <input type="submit" value="Añadir Playlist" class="form-submit">
        </form>
        <p class="form-explanation">La lista de reproducción se creerá con canciones </p>
    </main>
    
</body>

</html>
