<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Letra</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
            <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
        <ul>
            <li><a  href="{{ url_for('index') }}">INICIO</a></li>
            <li><a href="#">PLAYLIST</a></li>
            <li><a href="#">ACERCA DE</a></li>
            <li><a class="active" href="{{ url_for('buscador') }}">BUSCADOR</a></li>
        </ul>
    </nav>
  </header>
  <main>
    <section id="sect-table">
      <h1 id="name-song">CANCION NO DISPONIBLE AUN</h1>
      <table id="table-song">
        <tr>
          <td id="song-invar">Vaya... Parece que tu gusto musical esta muy actualizado</td>
        </tr>

        <tr>
          <td id="song-invar">Trabajaremos para que este lista pronto!</td>
        </tr>
      </table>
    </section>
  </main>
  <footer>
    <p>MUSIC RECOMMENDATION SYSTEM! Redescubre la música</p>
  </footer>
</body>