<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIENVENIDO!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li><a class="active" href="#">INICIO</a></li>
                <li><a href="{{ url_for('login') }}" class="login-btn">INICIAR SESIÓN</a></li>
                <li><a href="{{ url_for('register') }}" class="login-btn">REGISTRARSE</a></li>
                <li><a href="{{ url_for('acerca') }}">ACERCA DE</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="intro">
            <h1 id="tittle-index">BIENVENIDO A TU RECOMENDADOR DE MUSICA FAVORITA</h1>
            <h3>Algunas de las caracteristicas que ofrecemos son...</h3>
        </section>
        <div class="container">
            <div id="theCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#theCarousel" data-slide-to="1"></li>
                    <li data-target="#theCarousel" data-slide-to="2"></li>
                    <li data-target="#theCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{{ url_for('static', filename='img2.jpg') }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Recomendaciones</h3>
                            <p>Personalizadas en base a tus gustos</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='img1.jpg') }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Desde Spotify</h3>
                            <p>Integracion con lista de exitos de spotify</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='img3.jpg') }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Lyrics de canciones</h3>
                            <p>En concreto de mas de 900 millones de canciones</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='img4.jpg') }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Ve directo</h3>
                            <p>Redireccionamiento directo a las canciones. Sin publicidad</p>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#theCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">anterior</span>
                    </a>
                    <a class="right carousel-control" href="#theCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">siguiente</span>
                    </a>
                </div>
            </div>
    </main>
    <footer>
        <p>MUSIC RECOMMENDATION SYSTEM! Redescubre la música</p>
    </footer>
</body>

</html>