<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Playlist Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li><a href="{{ url_for('playlist') }}">PLAYLIST</a></li>
                <li><a href="{{ url_for('buscador') }}">BUSCADOR</a></li>
                <li><a href="{{ url_for('acerca') }}">ACERCA DE</a></li>
                <li><a href="{{ url_for('logout') }}">CERRAR SESIÓN</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Canciones de la Playlist</h1>
        <br>

        <ul>
            {% for cancion in canciones %}
            <li>
                <a href="{{ url_for('cancion', titulo=cancion[0].replace(' ', '_'), artista=cancion[1].replace(' ', '_')) }}">
                    {{ cancion[1] }} - {{ cancion[0] }}
                </a>
            </li>
            <br>
            {% endfor %}
        </ul>



    </main>
    <footer>
        <p>MUSIC RECOMMENDATION SYSTEM! Redescubre la música</p>
    </footer>
</body>

</html>
