
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../static/styles.css">
</head>


<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                <li><a class="active" href="#">PLAYLIST</a></li>
                <li><a href="{{ url_for('buscador') }}">BUSCADOR</a></li>
                <li><a href="{{ url_for('acerca') }}">ACERCA DE</a></li>
                <li><a href="{{ url_for('logout') }}">CERRAR SESIÓN</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <h2>Playlists de {{ username }}</h2>
        <br>
        <ul>

            <ul class="playlist">
                {% for row in playlists %}
                <li>
                    <a href="{{ url_for('playlist_details', playlist_name=row[1]) }}">{{ row[1] }}</a>
                    <p>{{ row[3] }}</p> 
                    <a href="{{ url_for('delete_playlist', playlist_name=row[1]) }}">Borrar playlist</a>
                </li>
                <br>
                {% endfor %}
            </ul>

            <button type="button" onclick="location.href='{{ url_for('add_playlist') }}'">Añadir Playlist Vacia</button>
            <br>
            <button type="button" onclick="location.href='{{ url_for('add_playlist_gust') }}'">Añadir Playlist Personalizada</button>
            
        </ul>

    </main>

    <footer>
        <p>MUSIC RECOMMENDATION SYSTEM! Redescubre la música</p>
    </footer>
</body>

</html>

