<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <main>
        <form method="POST" action="/add_playlist" id="add-playlist">
            <h2>Añadir Playlist</h2>
            <label for="name">Nombre de la playlist:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description" required><br><br>
            <input type="submit" value="Añadir Playlist">
        </form>
    </main>
</body>

</html>
