<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate ahora!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../static/styles.css">
    
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            
            <ul>
                <li><a href="{{ url_for('index') }}" class="login-btn">INICIO</a></li>
                <li><a href="{{ url_for('login') }}" class="login-btn">INICIAR SESIÓN</a></li>
                <li><a href="#"  class="active">REGISTRARSE</a></li>
                <li><a href="{{ url_for('acerca') }}">ACERCA DE</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="#" method="POST" id="reg-user">
            <h3>Registrate y obten acceso ahora!</h3>
            <p id="warnings">{{ warnings }}</p>
            <label for="username">Nombre de usuario:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="name">Nombre:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="subname">Apellido:</label><br>
            <input type="text" id="subname" name="subname" required><br>
            <label for="subname">Correo Electronico:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="password">Contraseña:</label><br>
            <input type="password" id="key" name="key" required><br>
            <label for="password">Repite contraseña:</label><br>
            <input type="password" id="key" name="key2" required><br>
            <p>Al registrarse acepta la política de privacidad</p><br>
            <input type="submit" value="Buscar">
        </form>
        
    </main>
    <footer>
        <p>MUSIC RECOMMENDATION SYSTEM! Redescubre la música</p>
    </footer>
</body>

</html>